body{
  background-color: #fff !important;
  font-family: 'Dosis', sans-serif;
  color: #000 !important;
/*  background-image:    url(img/test.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
*/
}

.width {
  margin-left: 250px !important;
}

a {
  color: #fff !important;
  /*border-bottom: 4px solid #D0CD94 !important;*/
}

.mui-tabs__bar>li.mui--is-active>a {
  color: #fff !important;
}

.mui-tabs__bar>li.mui--is-active {
  border: none !important;
  /*border-top: 3px #D0CD94 solid !important;*/
}

.mui--text-display3 {
 color: #D0CD94 !important;
 text-align: center !important;
}

.centered {
  margin: 0 auto !important;
  max-width: 60%;
  height: auto;
  width: auto\9; /* ie8 */
  text-align: center !important;

}

.floatLeft {
  float: right !important;
}

.paddingAdjust {
  padding-right: 20px !important;
}

.sizeDown {
  height: 100%;
  width: 100%;
}

.sizeDownTwo {
  height: 80%;
  width: 80%;
}

.sizeDownThree {
  height: 90%;
  width: 90%;
}

.testy ul li {
  display:inline !important;
}

.testy ul {
  list-style-type: square;
  text-align: center;
}

.box {
  border-bottom: 4px #D0CD94 solid;
  margin:0 auto;
  text-align: center !important;
  border-radius: 4px;
  color: #D0CD94;
  width: 470px;
}

.whiteFont {
  color:white !important;
}

.test3 {
  font-size: 40px !important;
  color: #D0CD94 !important;
  text-align: center;
}

button.vex-dialog-button-primary.vex-dialog-button.vex-first {
  display:none !important;
}

button.vex-dialog-button-secondary.vex-dialog-button.vex-last {
  display:none !important;
}

button.btn {
  font-family: 'Dosis', sans-serif;
  margin:0 auto !important;
  border:2px #D0CD94 solid;
  color: #D0CD94;
  background-color: #f0f0f0;
}

.btn {
  font-family: 'Dosis', sans-serif;
  margin:0 auto !important;
  border:2px #D0CD94 solid;
  color: #D0CD94;
  background-color: #f0f0f0;
}

div.vex-dialog-message {
  font-family: 'Dosis', sans-serif;
  text-align: center !important;
  color: #D0CD94 !important;
}

div.vex-custom-field-wrapper {
  text-align: center !important;
}

.bottomPage {
  border-top: 3px solid #2196F3 !important;
}

h1 {
  text-align: center !important;
}

.navBar {
  min-width: 300px;
  background-color: #ed6d2e;
}

.centered2 {
  margin: 0 auto !important;
  width: 100%;
  text-align: center !important;

}

/*.testing {
  background-image:    url(./img/solar1.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}*/

.para{
  width: 400px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}

.orange {
  color: #fff;
}

.bold{
  font-weight: bold;
}

.icons{
  width: 10%;
  height: 10%;
}


input.form-control{
  width: 60% !important;
  margin: 0 auto !important;
}



.testyy {
      font-size: 10px;
      float: right !important;
      background: none !important;
      border: none !important;
    }

    .testyt {
      background: none !important;
      border: none !important;
    }

    .testyt:focus {
      outline: none !important;
    }

.logo{
  margin: 20px;
  margin-right: 390px;
  font-size: 30px;
}

.fancyText {
  color: black !important;
}

button.btn {
  color: black !important;
  border-color: black !important;
}

.wowza:active{
  background-color: black !important;
}

.wowza:focus{
  background-color: black !important;
}
